<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/header_footer.css">
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                
            </ul>
        </nav>
    </header>
    <main class="not-found">
        <h1>404 - Страница не найдена</h1>
        <p>Ой! Похоже, что эта страница отсутствует. Возможно, пластинка не на той скорости?</p>
        <img src="/images/vinyl-record.jpg" alt="Виниловая пластинка" class="vinyl-image">
        <p><a href="/">Вернуться на главную страницу</a></p>
    </main>

    <footer>
        <p>&copy; 2024 Магазин виниловых пластинок</p>
    </footer>
</body>
</html>
